$row-width: 300px;

.avatar-hero {
  width: $row-width / 6;
  height: $row-width / 6;
  border-radius: 50%;
}

.hero-detail {
  width: $row-width;
}

.create-hero-row {
  width: $row-width;

  .create-hero-button {
    width: $row-width / 6;
    height: $row-width / 6;
  }
}

.search-hero {
  width: $row-width;
}